@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

header
{
    background-image: url(bckg\ hand.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body
{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0px;
}

.players
{
    text-align: center;
    border: 10px groove rgb(134, 134, 134);
}

h1 
{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    line-height: 100px;
}

h2
{
    line-height: 50px;
    color: red;
}

.history
{
    margin: 0px 100px 50px 100px;
}

li
{
    text-align: left;
    font-size: 16,5px;
    line-height: 70px;
    margin: 0px 200px 0px 200px;
}

ul
{
    text-align: left;
}

video
{
    margin: 80px;
}

.centered
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer
{
    text-align: left;
    color: white;
    background-color: black;
}
